/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

h1{
  font-family: 'Noto Sans', sans-serif;
  color: #0072E5;
}

h2{
  font-family: 'Noto Sans', sans-serif;
  color: #0072E5;
}

h3{
  font-family: 'Noto Sans', sans-serif;
  color: #0090AD;
}

h4{
  font-family: 'Noto Sans', sans-serif;
}

div p {
  font-family: 'Lora', serif;
  line-height: 1.5;
}

.navbar-default .navbar-brand {
    color: #63299D;
    font-weight: bold;
    font-size: 240%;
}

hr{
border: dotted #FFCE9E 3px;
width: 24%;
border-bottom: none;
margin: 2% auto 2% auto;
}

.formGeneration {
  padding: 5%;
  background-color: #E2F6FD;
}

.buttonSpace {
  margin-top:5%;
}

.reviewButtonSpace {
  text-align:right;
}

.showSpace {
  text-align: center;
}

.reviewSpace{
  padding-left: 5%;
}

.reviewText{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #DDF7FC;
  padding:1%;
  margin:1%;
}

img.placeImage {
  width: 200px;
  height: 150px;
  border: 3px solid #DDF7FC;
  border-radius: 10px;
}

img.placeImageShow {
  width: 80%;
  height: auto;
  border: 3px solid #DDF7FC;
  border-radius: 10px;
}

img.worldImage {
  width: 85%;
  display: block;
  margin:auto;
  height: auto;
}
nav ul li{ float:left; list-style-type: none;}

.mainImage {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.centered {
  position: absolute;
  font-size: 1px;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
