/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

h1 h4{
  font-family: 'Noto Sans', sans-serif;
}

div p {
  font-family: 'Lora', serif;
}
.navbar-default .navbar-brand {
    color: #63299D;
    font-weight: bold;
    font-size: 240%;
}

hr{
border: solid #FFCE9E 3px;
width: 15%;
border-bottom: none;
margin: 30px auto 30px auto;
}

.formGeneration {
  padding: 5%;
  background-color: #E2F6FD;
}

.buttonSpace {
  margin-top:5%;
}

img.placeImage {
  width: 200px;
  height: 150px;
  border: 3px solid #E2F6FD;
  border-radius: 10px;
}


img.placeImageShow {
  width: 80%;
  height: auto;
  border: 3px solid #E2F6FD;
  border-radius: 10px;
}

img.worldImage {
  width: 85%;
  display: block;
  margin:auto;
  height: auto;
}
nav ul li{ float:left; list-style-type: none; }

.mainImage {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.centered {
  position: absolute;
  font-size: 1px;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
