/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.imgResponse.phone {
  display: none;
}

.imgResponse{
  width: 82%;
  display: block;
  margin:auto;
}

@media (orientation: landscape) {
  .navbar-default .navbar-brand {
      color: #63299D;
      font-weight: bold;
      font-size: 4rem;
  }
  .navText{
    font-size: 2rem;
  }
  h1{
    font-family: 'Noto Sans', sans-serif;
    color: #0072E5;
  }

  h2{
    font-family: 'Noto Sans', sans-serif;
    color: #0072E5;
  }

  h3{
    font-family: 'Noto Sans', sans-serif;
    color: #0090AD;
  }

  h4{
    font-family: 'Noto Sans', sans-serif;
  }
  div p {
    font-family: 'Lora', serif;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 600px) {
  .imgResponse {
    display: none;
  }
  .imgResponse.phone {
    display: block;
  }
}

@media (orientation: portrait) {
  .imgResponse {
    display: none;
  }
  .imgResponse.phone {
    display: block;
    width: 100%;
  }
  .navbar-default .navbar-brand {
      padding-top:10%;
      padding-bottom: 10%;
      color: #63299D;
      font-weight: bold;
      font-size: 6rem;
  }
  .navText{
    font-size: 3.5rem;
  }
  .titleButton{
    font-size: 4rem;
  }

  .portraitText{
    font-size: 3.3rem;
  }

  div p{
    font-family: 'Lora', serif;
    line-height: 2;
    font-size: 3.3rem;
  }
  h1{
    font-family: 'Noto Sans', sans-serif;
    color: #0072E5;
    font-size: 4.5rem;
  }

  h2{
    font-family: 'Noto Sans', sans-serif;
    color: #0072E5;
    font-size: 4rem;
  }

  h3{
    font-family: 'Noto Sans', sans-serif;
    color: #0090AD;
    font-size: 3.5rem;
  }

  h4{
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.3rem;
  }
}

hr{
border: dotted #FFCE9E 3px;
width: 24%;
border-bottom: none;
margin: 2% auto 2% auto;
}

.formGeneration {
  padding: 5%;
  background-color: #E2F6FD;
}

.buttonSpace {
  margin-top:5%;
}

.reviewButtonSpace {
  text-align:right;
}

.showSpace {
  text-align: center;
}

.reviewSpace{
  padding-left: 5%;
}

.reviewText{
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #F2F2F2;
  padding:1%;
  margin:1%;
}

img.placeImage {
  width: 180px;
  height: 135px;
  border: 3px solid #F2F2F2;
  border-radius: 8px;
}

img.placeImageShow {
  width: 75%;
  height: auto;
  border: 3px solid #F2F2F2;
  border-radius: 8px;
}

.mainImage {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.centered {
  position: absolute;
  font-size: 1px;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
