<div class="formGeneration col-md-8 col-md-offset-2"">
  <h3>Edit Review ?</h3>
  <%= simple_form_for ([@place, @review]) do |f| %>
    <%= f.input :comment %>
    <%= f.button :submit,"Change me!", class: "btn btn-success" %>
  <% end %>
</div>
