<div class="col-md-8 col-md-offset-2">
  <div class="formGeneration">

<h1>Edit Review</h1>

<%= simple_form_for ([@place, @review]) do |f| %>
  <%= f.input :vote %>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>

</div>
</div>
