<% if @place.count == 0 %>
  <h4>Please add the first itinerary</h4>
<% else %>

    <% @place.each do |place| %>
      <div class="col-md-3 col-sm-4 col-xs-6 placeImageBox">
        <% if place.image.url %>
          <a href="/places/<%= place.id %>"><%= image_tag place.image.url, class:"placeImage" %></a>
        <% end %>
        <div class="placeText">
          <h4><%= link_to place.city, place_path(place) %></h4>
        </div>
      </div>
    <% end %>

<% end %>
