
<h2><%= @place.city %></h2>
<h2><%= @place.description %></h2>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @place.user_id == current_user.id %>
      <%= link_to "edit", edit_place_path(@place) %>
      <%= link_to "delete", place_path(@place), method: :delete, data: { confirm: "Really? :("} %>

    <% end %>

  <% end %>

</div>
